---

---
<div class="card-shadow flex p-8 md:p-12 gap-16 items-center rounded-3xl">
    <slot />
</div>

<style>
  .card-shadow {
    box-shadow: 0 -2px 0.65rem rgba(255,255,255,0.3);
    background-image: linear-gradient(180deg, rgba(255,255,255,0.075) 0%, rgba(255,255,255,0) 100%);
  }
</style>
