---
import Layout from "../layouts/Layout.astro";
import DesktopNavBar from "../components/nav/DesktopNavBar.astro";
import MobileNavBar from "../components/nav/MobileNavBar.astro";
import CtaContent from "../components/cta/CtaContent.astro";
import TrustedList from "../components/partners/TrustedList.astro";

---

<Layout title="Welcome to Astro.">
    <header class="min-h-dvh flex flex-col gap-8 md:gap-16">
        <MobileNavBar />
        <DesktopNavBar />
        <section class="flex justify-center p-4 m-auto md:w-2/3 lg:w-3/4">
            <CtaContent />
        </section>
        <section class="flex flex-col gap-8">
            <p class="text-center text-white text-sm md:text-base opacity-80">Trusted by teams at over <span class="font-bold">1,000</span> of the world’s leading organizations</p>
            <TrustedList />
        </section>
    </header>
    <main>
    </main>
</Layout>

<style>
    header {
        background-image: url("../assets/hero/hero-bg.jpg");
        background-size: cover;
    }
</style>
